Version2/CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  ========================================================
  Módulo: LMSGI - DAW
  Autor: Pablo Márquez López
  Descripción: Refactorizar tanto el csd como el xml
  ========================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- ========================================== -->
    <!-- DEFINICIÓN DE TIPOS SIMPLES (CON REGEX)    -->
    <!-- ========================================== -->

    <!-- Validamos que el ID del servidor siga el patrón: srv-letras-numeros -->
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <!-- RegEx: Empieza por srv-, seguido de letras minúsculas, guion, y exactamente 2
            dígitos -->
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la zona geográfica siga el estándar: 2 letras - texto - número -->
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "eu-sur-1" o "us-east-2" -->
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que el Rack sea una letra mayúscula seguida de 1 o 2 números -->
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la versión del SO sean números, opcionalmente separados por un punto -->
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "15", "9", "22.04" -->
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos el estado mediante un patrón de enumeración (Pipeline de RegEx) -->
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Realizamos un grupo de atributos para el elemento Servidor -->
    <xs:attributeGroup name="AtributosServidor">
        <xs:attribute name="id" type="TipoIdServidor" use="required" />
        <xs:attribute name="rack" type="TipoRack" use="required" />
        <xs:attribute name="estado" type="TipoEstado" use="required" />
    </xs:attributeGroup>
    
    <!-- Realizamos un grupo de elementos para el elemento Hardware. Para poder usar atributos en cpu, ram, gpu y discos he tenido que 
    cambiar su tipo en el XSD a complexType y referenciarlos en el grupo, ya que los tipos simples no permiten atributos.” -->
    <xs:group name="ComponentesHardware">
        <xs:sequence>
            <xs:element name="cpu" type="cpu"/>
            <xs:element name="ram" type="ram"/>
            <xs:element name="gpu" type="gpu" minOccurs="0" maxOccurs="1"/>
            <xs:element name="discos" type="discos"/>
        </xs:sequence>
    </xs:group>
    
    <!-- Validamos los atributos que describe al elemento CPU -->
    <xs:complexType name="cpu">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="nucleos"
                              type="xs:integer"
                              use="required" />
                <xs:attribute
                    name="arquitectura"
                    type="xs:string"
                    use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Validamos los atributos que describe al elemento RAM -->
    <xs:complexType name="ram">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <!-- Usamos RegEx sencilla para
                     forzar MB, GB o TB -->
                <xs:attribute name="unidad"
                              use="required">
                    <xs:simpleType>
                        <xs:restriction
                            base="xs:string">
                            <xs:pattern
                                value="MB|GB|TB" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Validamos los atributos que describe al elemento GPU -->
    <xs:complexType name="gpu">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="modelo"
                              type="xs:string"
                              use="required" />
                <xs:attribute name="vram_gb"
                              type="xs:integer"
                              use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Validamos los atributos que describe al elemento Discos -->
    <xs:complexType name="discos">
        <xs:sequence>
            <xs:element name="disco"
                        maxOccurs="8">
                <xs:complexType>
                    <xs:attribute name="tipo"
                                  use="required">
                        <xs:simpleType>
                            <xs:restriction
                                base="xs:string">
                                <xs:pattern
                                    value="NVMe|SSD|HDD" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute
                        name="capacidad_tb"
                        type="xs:integer"
                        use="required" />
                    <xs:attribute
                        name="principal"
                        type="xs:boolean"
                        use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    

    <!-- ========================================== -->
    <!-- ESTRUCTURA DEL DOCUMENTO (ELEMENTOS)       -->
    <!-- ========================================== -->

    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>

                                        <!-- Hardware -->
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:group ref="ComponentesHardware"></xs:group>
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- Software -->
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="red">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="ip_fija" type="xs:string"/>
                                                                <xs:element name="dhcp">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                        <xs:pattern value="Si|No" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version"
                                                                        type="TipoVersion"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio"
                                                                    maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                base="xs:string">
                                                                                <xs:attribute
                                                                                    name="puerto"
                                                                                    type="xs:integer"
                                                                                    use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <!-- Etiqueta auditoria para mayor informacion, utilizando xs:all -->
                                                    <xs:element name="auditoria">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="fecha_revision" type="xs:date"></xs:element>
                                                                <xs:element name="tecnico" type="xs:string"></xs:element>
                                                                <xs:element name="nota" type="xs:integer"></xs:element>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- Atributos del Servidor -->
                                    <xs:attributeGroup ref="AtributosServidor"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <!-- Atributos del Centro de Datos -->
                        <xs:attribute name="ubicacion" type="xs:string" use="required" />
                        <xs:attribute name="zona" type="TipoZona" use="required" />

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required" />
        </xs:complexType>
        <xs:unique name="uniqueId">
            <xs:selector xpath="servidor"/>
            <xs:field xpath="id"/>
        </xs:unique>
    </xs:element>

</xs:schema>